<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/bed-data.css">
        <title>Add Bed | Hospital Admin</title>
    </head>
    <body>
        {{>admin_header}}
        {{#if message}}
            <div style="text-align: center" class="alert alert-{{message.type}}">
                <strong>{{message.intro}}</strong> {{message.message}}
                <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>      
            </div>
        {{/if}}     
        <p class="h1"> Add Hospital Bed Information </p>
        <div class="container-fluid">
    
          <form action="/bed-details" method="POST" class="main-form container">
            
            <div class="mb-3">
                <lable for="hospital-Name">Hospital Name :</lable>
                <select name="hospital_name" class="form-control" required>
                    <option disabled>Select Hospital</option>
                    {{#each hospitalname}}
                    {{!-- <input type="hidden" name="hospitalid"> --}}
                    <option value='{{hospitalname}}'>{{hospitalname}}</option>
                    {{/each}}
                </select>
                
            </div>
            
            <p class="h3">With Oxygen Beds : </p><br>
                <div class="mb-3">
                    <lable for="available_wo_bed">Available With Oxygen Beds :</lable>
                    <input type="text" name="available_wo_bed" class="form-control" required>
                </div>

                <div class="mb-3">
                    <lable for="total_wo_bed">Total With Oxygen Beds :</lable>
                    <input type="text" name="total_wo_bed" class="form-control" required> 
                </div><br><br>

            <p class="h3">Without Oxygen Beds : </p><br>
                <div class="mb-3">
                    <lable for="available_woo_bed">Available Without Oxygen Beds :</lable>
                    <input type="text" name="available_woo_bed" class="form-control" required>
                </div>

                <div class="mb-3">
                    <lable for="total_woo_bed">Total Without Oxygen Beds :</lable>
                    <input type="text" name="total_woo_bed" class="form-control" required> 
                </div><br><br>
            
            <p class="h3">ICU With ventilator Beds : </p><br>
                <div class="mb-3">
                    <lable for="available_iwv_bed">Available ICU With Ventilator Beds :</lable>
                    <input type="text" name="available_iwv_bed" class="form-control" required>
                </div>

                <div class="mb-3">
                    <lable for="total_iwv_bed">Total ICU With Ventilator Beds :</lable>
                    <input type="text" name="total_iwv_bed" class="form-control" required> 
                </div><br><br>
            
            <p class="h3">ICU Without ventilator Beds : </p><br>
                <div class="mb-3">
                    <lable for="available_iwov_bed">Available ICU Without Ventilator Beds :</lable>
                    <input type="text" name="available_iwov_bed" class="form-control" required>
                </div>

                <div class="mb-3">
                    <lable for="total_iwov_bed">Total ICU Without Ventilator Beds :</lable>
                    <input type="text" name="total_iwov_bed" class="form-control" required> 
                </div><br>

            <input type="submit" name="submit" class="btn btn-primary" value="Submit">&nbsp;&nbsp;&nbsp;
            <input type="reset" value="Reset" class="btn btn-primary">

          </form>
        </div>
    </body>
</html>
{{>footer}}